:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: rgb(217, 236, 217);
    --action-color: rgb(77, 132, 252);

    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    height: 100vh;
    font-family: var(--primary-font);
    color: var(--text-color);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

.page-header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 200px;

    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 70%;
    background: center;
    background-image: url(/assets/tarzan_swing.gif);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-header .logo {
    height: 100%;
}

.page-header .title {
    font-size: 1.3em;
    font-weight: 800;
    flex-grow: 2;
}

.page-header nav {
    display: flex;
    gap: 10px;
}

main {
    padding: 20px;
}

.avatar {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    border-radius: 100%;
}

.error {
    min-height: 1em;
    color: red;
}

.hidden {
    display: none;
}

#avatar-preview {
    height: 200px;
    width: 200px;
}

.auth-main {
    background: center/100%;
    background-image: url(/assets/jungle_enter.gif);
    background-repeat: no-repeat;
}

.img-div {
    /* width: 220px;
    height: 50px; */
    border: none;
    outline: none;
    color: #fff;
    /* background: #111; */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 80%;
}

.img-div:before {
    content: '';
    background: linear-gradient(
        45deg,
        #000000,
        rgb(8, 36, 8),
        rgb(22, 59, 18),
        rgb(29, 107, 42),
        rgb(48, 161, 48),
        rgb(96, 201, 55),
        #afdd43,
        rgb(225, 255, 56),
        #fbff00,
        rgb(225, 255, 56),
        #afdd43,
        rgb(96, 201, 55),
        rgb(48, 161, 48),
        rgb(29, 107, 42),
        rgb(22, 59, 18),
        rgb(8, 36, 8),
        #000000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 80%;
}

.img-div:active {
    color: #000;
}

.img-div:active:after {
    background: transparent;
}

.img-div:hover:before {
    opacity: 1;
}

.img-div:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #111; */
    left: 0;
    top: 0;
    border-radius: 80%;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

.img-div {
    object-fit: scale-down;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 80%;
}

.home-page {
    background-image: URL(/assets/tarzanHomePage2.gif);
    background-size: contain;
    /* width: fit-content; */
    object-fit: scale-down;
    /* background-repeat: no-repeat; */
}
